@import '@xyflow/svelte/dist/style.css';
@import "tailwindcss";

@plugin '@tailwindcss/typography';
@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#svelte {
    height: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.big-title {
    @apply uppercase tracking-[0.3em] text-blue-600 dark:text-blue-400;
}

/**
TODO: The styles below are for all nodes, style them based on the type of node, e.g. .svelte-flow__node[data-type="custom"] { ... }
 */
.svelte-flow__node {
    @apply gap-1 rounded-2xl border px-4 py-3 dark:bg-gray-600 border-black bg-gray-100
}

.svelte-flow__node.selected {
    @apply border-blue-400/80 bg-blue-500 dark:bg-blue-950 shadow-lg
}

/* Internal service nodes */
.svelte-flow__node-service {
    @apply bg-green-100 dark:bg-green-600
}

/* External service nodes */
.svelte-flow__node-external {
    @apply bg-yellow-100 dark:bg-yellow-600
}