@import '@xyflow/svelte/dist/style.css';
@import "tailwindcss";

@plugin '@tailwindcss/typography';
@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#svelte {
    height: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@utility big-title {
    @apply uppercase tracking-[0.3em] text-blue-600 dark:text-blue-400;
}

/**
TODO: The styles below are for all nodes, style them based on the type of node, e.g. .svelte-flow__node[data-type="custom"] { ... }
 */
.svelte-flow__node {
    @apply gap-1 px-4 py-3 dark:text-white text-black transition-colors duration-300 ease-in-out;
    @apply shadow-sm;
    @apply rounded-lg;
    @apply bg-linear-to-tr from-gray-50 to-gray-100 dark:from-gray-500 dark:to-gray-700;
}

.svelte-flow__node.selected {
    @apply border-blue-400/80 shadow-lg;
    @apply from-blue-400 to-blue-700 dark:from-blue-900 dark:to-blue-950;
}

/* Internal service nodes */
.svelte-flow__node-service {
    @apply from-green-50 to-green-100 dark:from-green-500 dark:to-green-800;
}

/* External service nodes */
.svelte-flow__node-external {
    @apply from-yellow-50 to-yellow-100 dark:from-yellow-500 dark:to-yellow-800;
}

/* Service group nodes (partially transparent) */
.svelte-flow__node-serviceGroup {
    @apply transition-colors duration-300 ease-in-out opacity-60 dark:opacity-40;
}

.svelte-flow__node-serviceGroup.current-group {
    @apply from-green-400 dark:from-green-900 text-blue-600 dark:text-blue-200 to-green-700 dark:to-green-950;
}

.svelte-flow__node-serviceGroup.external-group {
    @apply from-yellow-50 dark:from-yellow-900 text-blue-600 dark:text-blue-200 to-yellow-700 dark:to-yellow-950;
}


.edge-label {
    @apply absolute bg-slate-900 text-slate-400 px-2 py-0.5 rounded
    text-[10px] font-bold border border-slate-700 whitespace-nowrap
    shadow-lg pointer-events-none transition-colors duration-200 ease-in-out;
}

.edge-label.selected {
    @apply text-blue-400 border-blue-500 bg-slate-800;
}

/* The actual SVG path of the edge */
.snake-edge-path {
    @apply transition-colors duration-200 ease-in-out;
    stroke: #64748b; /* slate-500 */
    stroke-width: 2px;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.snake-edge-path.selected {
    @apply stroke-blue-500;
    stroke-width: 3px;
    /* This creates a subtle SVG filter-based glow if desired,
       or you can just rely on the stroke color */
    filter: drop-shadow(0 0 2px rgba(59, 130, 246, 0.5));
}

.snake-edge-path.internal {
    @apply stroke-blue-400 dark:stroke-blue-600
}

.svelte-flow__edge {
    @apply stroke-3;
}

.snake-edge-path.incoming {
    @apply stroke-green-400 dark:stroke-green-600;
}

.snake-edge-path.outgoing {
    @apply stroke-sky-400 dark:stroke-sky-600
}

.sidebar-card {
    @apply rounded-xl border border-gray-200    dark:border-gray-700 bg-gray-50    dark:bg-slate-700 p-4 mt-4
}

.sidebar-card-subtitle {
    @apply text-xl font-semibold text-gray-900 dark:text-white
}

.sidebar-card-title {
    @apply big-title
}

.sidebar-card-contents {
    @apply mt-2 text-sm text-gray-700 dark:text-gray-300
}
